# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [3]:
import pandas as pd
import numpy as np
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

## imports for Python, Pandas

In [4]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [5]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [6]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [7]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [12]:
# load json as string
x = json.load((open('world_bank_projects_less.json')))

In [13]:
# load as Pandas dataframe
sample_json_df = pd.read_json('world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [23]:
# load json as string
jsonData = json.load((open('world_bank_projects.json')))

In [18]:
#load as pandas dataframe
projects_data = pd.read_json('world_bank_projects.json')
projects_data.head(2)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

Question 1: Find the 10 countries with most projects

In [19]:
projects_data.countryname.value_counts().head(10)

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
Nepal                              12
People's Republic of Bangladesh    12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

Question 2: Find the top 10 major project themes (using column 'mjtheme_namecode')

In [20]:
#let's take a quick look at the column 'mjtheme_namecode'
projects_data['mjtheme_namecode'].head(3)

0    [{'code': '8', 'name': 'Human development'}, {...
1    [{'code': '1', 'name': 'Economic management'},...
2    [{'code': '5', 'name': 'Trade and integration'...
Name: mjtheme_namecode, dtype: object

In [24]:
#to normalize the column, load the data as string and create flat data frame using json_normalize
projects_data_norm = json_normalize(jsonData, 'mjtheme_namecode', [['_id', '$oid'], 'countrycode','countryshortname'])
projects_data_norm.head(5)

,code,name,_id.$oid,countrycode,countryshortname
0,8,Human development,52b213b38594d8a2be17c780,ET,Ethiopia
1,11,,52b213b38594d8a2be17c780,ET,Ethiopia
2,1,Economic management,52b213b38594d8a2be17c781,TN,Tunisia
3,6,Social protection and risk management,52b213b38594d8a2be17c781,TN,Tunisia
4,5,Trade and integration,52b213b38594d8a2be17c782,TV,Tuvalu

In [25]:
#identify value at blank
projects_data_norm.iloc[1]['name']

''

In [26]:
#need to fill the missing data, one way is to create unique table and lookup missing data in unique using code mapping
#Replace blanks with nan
norm_data = projects_data_norm.copy()
norm_data = norm_data.replace(r'\s+',np.nan).replace('',np.nan)
norm_data.head()

,code,name,_id.$oid,countrycode,countryshortname
0,8,Human development,52b213b38594d8a2be17c780,ET,Ethiopia
1,11,NaN,52b213b38594d8a2be17c780,ET,Ethiopia
2,1,Economic management,52b213b38594d8a2be17c781,TN,Tunisia
3,6,Social protection and risk management,52b213b38594d8a2be17c781,TN,Tunisia
4,5,Trade and integration,52b213b38594d8a2be17c782,TV,Tuvalu

In [27]:
#Answering question 2, these are the most popular project codes: (This answer is answered again at the end of Solution 3)
norm_data.code.value_counts().head(10)

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

In [28]:
#Create unique table with unique code name mapping
unique_code = norm_data[norm_data.name.notnull()].drop_duplicates('code')
unique_code = unique_code.rename(columns = {'name': 'new_name'})
unique_code = unique_code[['code', 'new_name']].copy()
unique_code

    code                                      new_name
0      8                             Human development
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law

Q3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [29]:
#Merge original data table with unique and check if same number of rows are out
len(norm_data.merge(unique_code, on = 'code', how = 'outer'))

1499

In [30]:
#Create new final table as answer to Q3.
df = norm_data.merge(unique_code, on = 'code', how = 'outer')
df = df.drop('name', 1)
df = df.rename(columns = {'new_name': 'name'})
df.head(5)

,code,_id.$oid,countrycode,countryshortname,name
0,8,52b213b38594d8a2be17c780,ET,Ethiopia,Human development
1,8,52b213b38594d8a2be17c787,CN,China,Human development
2,8,52b213b38594d8a2be17c791,MG,Madagascar,Human development
3,8,52b213b38594d8a2be17c792,KH,Cambodia,Human development
4,8,52b213b38594d8a2be17c792,KH,Cambodia,Human development

In [31]:
#change position of columns as original
list(df.columns.values)
df = df[['code', 'name', 'countrycode', 'countryshortname', '_id.$oid']]
df.head(5)

,code,name,countrycode,countryshortname,_id.$oid
0,8,Human development,ET,Ethiopia,52b213b38594d8a2be17c780
1,8,Human development,CN,China,52b213b38594d8a2be17c787
2,8,Human development,MG,Madagascar,52b213b38594d8a2be17c791
3,8,Human development,KH,Cambodia,52b213b38594d8a2be17c792
4,8,Human development,KH,Cambodia,52b213b38594d8a2be17c792

In [33]:
len(df)

1499

In [32]:
#Answer to Question 2:
df.name.value_counts().head(10)

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64